// TASK:

// 1. Put chart and digit to the separate container

mixin chart(data, id, sid, chartData, comment, source)
  .chart.col-3
    .chartdata
      div
        .digit
          .number #{chartData}
        canvas(id=id width='300', height='300')
    .comment #{comment}

        script.
          var ctx = document.getElementById(#{sid}).getContext('2d');
          var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'doughnut',
              // The data for our dataset
              data: {
                  labels: [],
                  datasets: [{
                      backgroundColor: ['rgb(93,144,226)','rgba(255, 255, 255,0)'],
                      borderColor: 'rgb(93,144,226)',
                      data: #{data},
                  }]
              },
              // Configuration options go here
              options: {
              cutoutPercentage: 85,  // Line width
              rotation: 1.56,
              }
          });
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js")
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .wrapper
      header
        img#logo(src="images/logo.svg")
        ul#navlinks
          li
            a(href="#")
              button.navbtn Blog
          li
            a(href="#")
              button.navbtn Pricing
          li
            a(target="_blank" href="https://appdev.bizkonect.com/")
              button#login Login
      .container
        #vid-cont
          #main-message
            #white-logo
              img(src="images/bzk-logo-white.svg")
            .heading Video Email for Tech Sales & Marketing
            .subheading
              |Record, send, & track one-to-one personalized video messages
              br
              | direct to your customer’s Email, Social Media, or Text
            button.cta#watch
              i.material-icons play_circle_filled
              |&nbsp watch intro
          .video-holder
            video( muted loop)
              source(src="https://www.html5rocks.com/en/tutorials/video/basics/devstories.webm" type="video/webm")
        button.cta Try free version
      .container
        #charts.row
          .heading.col-12.text-center Why Video?
          +chart("[65, 35]", "ch1", "'ch1'", "65%", "Executives who have visited a website after watching a video")
          +chart("[42, 68]", "ch2", "'ch2'", "42%", "Executives who have made a business related purchase after watch a video")
          +chart("[39, 61]", "ch3", "'ch3'", "39%", "Executives who called a vendor after watching their video")
          +chart("[59, 41]", "ch4", "'ch4'", "59%", "Executives who prefer to watch video instead of reading text, if both are available on the same page")
          .col-12.source *Forbers Insights


      //-   h1 Upcoming pages:
      //-   ul
      //-     li#features Features
      //-     li#team Our team / About us
      //-     li#pricing Pricing plans
      //-     li#blog Blog
      //- footer